/** @format */

.midMainPage {
  background-color: #1e2c41;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.app {
  min-height: 100vh;
  height: 100%;
}
