/** @format */

.footerlinks {
  background-color: rgb(11, 74, 116);
  min-height: 6rem;
  width: 100%;

  display: flex;
}

.footerlinks ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footerlinks li {
  font-size: 0.8rem;
}

.footerlinks li a {
  color: aliceblue;
}
